@import url('https://fonts.googleapis.com/css2? family= Roboto+Mono:ital, peso@1,300 &family= Fuente+Serif+Pro:ital,wght@1,700 & mostrar=cambiar');

*{
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Roboto Mono', monoespaciado;
    text-align: center;
    word-spacing: normal;
    line-height: normal;
    font-weight: bolder;
    display: flex;
    background-color: blanchedalmond;
    min-height: 100vh;
}

header{
    font-size: large;
    display: grid;
    justify-content: center;
    background-color:rgba(100, 179, 100, 0.527);
}

@media(min-width:500px){
    .envoltura{
        margin:0;
        display: grid;
        grid-template-areas: 
    "header"        "header"
    "nav"           "nav"
    "contenido"     "contenido"
    "sidebar"       "sidebar"
    "ad"            "ad"
    "galeria-grid"  "galeria-grid"
    "footer"        "footer";
    gap: 20px;
    grid-template-columns: 1fr 3fr;
    }
}

nav ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-weight: 200;
    color: black;
}

.simpleConcreto{
    color: rgb(32, 70, 41);
    text-align: justify;
    text-transform: uppercase;
    letter-spacing: normal;
    padding: 40px;
    border: 20px solid black;
    margin: 100px;
}

.vidaFavoritos{
    color: palevioletred;
}

.macetasPlantas{
    font-family: 'Source Serif Pro', serif;
    margin: 100px;
}

.imaGen{
    margin-left: 100px;
    margin-right: 100px;
    border:5px dashed rgba(100, 179, 100, 0.644);
}

footer{
background-color: rgba(100, 179, 100, 0.644);
padding: 50px;
margin-bottom: 0px;
margin-top: 50px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quieresContacto{
    background-color: palevioletred;
    margin: 50px;
    border: 5px double black;
}

.pregFrecuen{
    padding: 20px;
    border: 5px double rgba(100, 179, 100, 0.644);
    color: black;
    background-color:whitesmoke;
    margin: 20px;
}

.sobreNos{
    padding: 20px;
    border: 5px outset rgba(100, 179, 100, 0.644);
    color: black;
    background-color: whitesmoke;
    margin: 20px;
}

.proDuctos{
    padding: 20px;
    border: 5px double rgba(100, 179, 100, 0.644);
    color: black;
    background-color:whitesmoke;
    margin: 20px;
}

.padre{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.cacTus{
    margin-top: 30px;
    margin-left: 400px;
    margin-right: 400px;
    border:5px dashed rgba(100, 179, 100, 0.644);
}

.pieImagen{
    margin-top: 30px;
    margin-left: 390px;
    margin-right: 200px;
}

.sucuLentas{
    margin-left: 100px;
    margin-right: 100px;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

.contenido{
    grid-area: contenido;
}

aside{
    grid-area: sidebar;
}

.ad{
    grid-area: ad;
}

footer{
    grid-area: footer;
}

.galeria-grid{
    grid-area: galeria-grid;
}

.envoltura{
    background-color: antiquewhite;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "contenido"
    "sidebar"
    "ad"
    "galeria-grid"
    "footer";
    gap: 20px;
}

@media(min-width:768px){
    .envoltura{
        margin bottom: 1.5em;
        display: grid;
        grid-template-areas: 
    "header"        header        header"
    "nav"           contenido     sidebar"
    "nav"           contenido          ad"
    "galeria-grid"  galeria-grid   galeria-grid"
    "footer"        footer         footer";
    grid-template-columns: 1fr 4fr 1fr;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        border: 2px solid antiquewhite;
    }
}